<style>
	.ngdialog-overlay {
		background-color: rgba(0, 0, 0, 0.4) !important;
	}
</style>
<div class="mensajes {{clase}}">
    <div class="titulo">{{titulo}}</div>
    <div class="mensaje">{{msj}}</div>
	<div class="mensajeTec ng-hide" ng-show='msjTecnico && mostrarMsgTec'>{{msjTecnico}}</div>
	<div class='msjBotones'>
		<a href="" class="btn" ng-show='msjTecnico' ng-click='mostrarMsgTec = !mostrarMsgTec' >{{ mostrarMsgTec == true ? 'Menos Info' : 'Mas Info' }}</a>
		<a href="" class="btn" ng-click='closeThisDialog()'>Aceptar</a>		
	</div>
</div>